<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>reserve</servlet-name>
        <servlet-class>Servlet.reserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveservlet</servlet-name>
        <servlet-class>Servlet.saveservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editservlet</servlet-name>
        <servlet-class>Servlet.editservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editservlet2</servlet-name>
        <servlet-class>Servlet.editservlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>Servlet.deleteservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>Servlet.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserve</servlet-name>
        <url-pattern>/reserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveservlet</servlet-name>
        <url-pattern>/saveservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editservlet</servlet-name>
        <url-pattern>/editservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editservlet2</servlet-name>
        <url-pattern>/editservlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
